.navbarmain {
    display: flex;
    justify-content: space-between;

    .logo {
        width: 100px;
    }

    .dropdown {
        background-color: transparent;
        border: none;
        a {
            color: black;
            text-decoration: none;
        }
    }

    .dropdown::after {
        display: none;
    }
  }